@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(#4a628a, #7ab2d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
