@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(#4a628a, #7ab2d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blueShadow {
  box-shadow: 3px 3px 1px 1px #7ab2d3;
}

.blueShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px #7ab2d3;
}
